.Container{
  display: flex;
  flex-wrap: wrap;
}
header{
 height: 50px;
  border-bottom: 1px solid black;
  display: inline;
 
}
header div{
 
  height: 100%;
}
.App{
  display: grid;
  border: 1px solid black;
  grid-template-columns: 100%;
height: 100vh;
  margin: 5px;
}
.User{
  
  margin-left: 60%;
    width: 80px;
    
    height: 40px;
}
.Cart{
  float: right;
  width: 80px;
  height: 40px;
   
}
span{
  font-family: sans-serif;
  font-size: large;
  text-transform: capitalize;
}
