.MobileContainer{
    
  display: flex;
  flex-wrap: nowrap;
}
.FullMobileContainer{
  
}
header{
    height: 50px;
     border-bottom: 1px solid black;
     display: inline;
    
   }
   header div{
    
     height: 100%;
   }
  