.MobileContainer{
    
  display: flex;
  flex-wrap: nowrap;
}
.FullMobileContainer{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 100%;
  height: 100vh;
    margin: 5px;
}
header{
    height: 50px;
     border-bottom: 1px solid black;
     display: inline;
    
   }
   header div{
    
     height: 100%;
   }
  