
header{
  text-align: center;
}
.LoginContainer div{
  text-align: center;
}
input{
    height: 40px;
    width: 200px;
    margin: 10px;
}
button{
    width:100px;
    margin: 10px;
    border-radius: 5px;
    height: 30px;
  
}